<div class="post-preview">
    <a href="{{ path('post_show', {'slug': post.slug}) }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        <h3 class="post-subtitle">
            {{ post.body|striptags|truncate(60, true) }}
        </h3>
    </a>
    <p class="post-meta">
        Posted by <strong>{{ post.user.username }}</strong> on {{ post.created|date('F j, Y') }}
        <br/>
        <small>Last edited on {{ post.lastUpdated|date('F j, Y') }}</small>
    </p>
</div>
<hr>