<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                {{ configuration().title }} - {% block subtitle %}Backend{% endblock %}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        <link rel="stylesheet" href="{{ asset('build/backend.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="layout layout-backend">
    {% block container %}
        <div class="container">
            <h1 class="float-left">{% block h1 %}{% endblock %}</h1>
            <div class="float-right">
                {% block main_actions %}{% endblock %}
            </div>
            <div class="clearfix"></div>
            <div class="card">
                <div class="card-block">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
        <script src="{{ asset('build/global.js') }}"></script>
        <script src="{{ asset('build/backend.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>