<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>
            {% block title %}
                {{ configuration().title }} {% block subtitle %}{% endblock %}
            {% endblock %}
        </title>
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        <link rel="stylesheet" href="{{ asset('build/frontend.css') }}">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-toggleable-sm navbar-light navbar-custom">
            <a class="navbar-brand" href="/">{{ configuration().title }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-collapse" aria-controls="main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main-collapse">
                <span class="mr-auto"></span>
                <hr class="divider hidden-md-up" />
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact_new') }}">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Header -->
        {% block header %}
            <header class="intro-header parallax-window" data-parallax="scroll" data-image-src="{{ asset('images/home-office-bg.jpg') }}">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-8 col-md-10">
                            <div class="site-heading">
                                {% block header_heading %}
                                    <h1>
                                        {% block h1 %}
                                            {{ configuration().title }}
                                        {% endblock %}
                                    </h1>
                                    <hr class="small">
                                    <span class="subheading">
                                        {% block subheading %}
                                            {{ configuration().description }}
                                        {% endblock %}
                                    </span>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}
        <!-- Content -->
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-8 col-md-10">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            {{ alert(message, label)|raw }}
                        {% endfor %}
                    {% endfor %}
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <hr>
        <!-- Footer -->
        {% block footer %}
            <footer>
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-8 col-md-10">
                            <ul class="list-inline text-center">
                                <li>
                                    <a href="{{ configuration().social_twitter_link }}" target="_blank">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <p class="copyright text-muted">Copyright &copy; {{ configuration().vendor }} 2016</p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
        <script src="{{ asset('build/global.js') }}"></script>
        <script src="{{ asset('build/frontend.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
