<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Module {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        <link rel="stylesheet" href="{{ asset('build/backend.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
        <div class="container-fluid">
            <h1>{% block h1 %}{% endblock %}</h1>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    {{ alert(message, label)|raw }}
                {% endfor %}
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
        <script src="{{ asset('build/global.js') }}"></script>
        <script src="{{ asset('build/backend.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>