{% extends 'layouts/backend.html.twig' %}

{% block h1 %}
    Welcome to the Backend
{% endblock %}

{% block main_actions %}
    <b>Logged in as:</b> {{ user.username }} | <a class="" href="{{ path('logout') }}">
        <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
    </a>
{% endblock %}

{% block body %}
    <div class="row">
    {% for module in modules %}
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12 module-wrapper">
            <div class="card">
                <div class="card-block">
                    <i class="fa fa-{{ module.icon }} fa-module-icon pull-right" aria-hidden="true"></i>
                    <h4 class="card-title">{{ module.title }}</h4>
                    <p class="card-text">{{ module.description }}</p>
                    <a class="btn btn-primary btn-block" data-fancybox="iframe" data-src="{{ path(module.route) }}" data-type="iframe" href="javascript:;">
                        Load {{ module.title }} module
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}