{% extends 'layouts/frontend.html.twig' %}

{% block subtitle %} | {{ post.title }}{% endblock %}

{% block header_heading %}
    <h1>{{ post.title }}</h1>
    <p class="subheading">
        Posted by <strong>{{ post.user.username }}</strong> on {{ post.created|date('F j, Y') }}
        <br/>
        <small>Last edited on {{ post.lastUpdated|date('F j, Y') }}</small>
        <br/><br/>
        {% for tag in post.tags %}
            <span class="badge badge-primary">{{ tag.title }}</span>
        {% endfor %}
    </p>
{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.body|raw }}</p>
{% endblock %}