{% extends 'layouts/module.html.twig' %}

{% block body %}
    <h2>Manage your posts</h2>
    <a class="btn btn-primary" href="{{ path('backend_post_new') }}">Create a new post</a>
    <br /><br />
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>Record name</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    <tr class="{% if post.isHidden() %}table-warning{% endif %}">
                        <td id="post-{{ post.id }}">
                            <div class="btn-group" role="group" aria-label="record actions">
                                <a href="{{ path('backend_post_toggle_hidden_state', {'id': post.id}) }}" class="btn btn-info">
                                    {% if post.isHidden() %}
                                        <i class="fa fa-eye-slash"></i>
                                    {% else %}
                                        <i class="fa fa-eye"></i>
                                    {% endif %}
                                </a>
                                <button type="button" class="btn btn-info"><i class="fa fa-pencil"></i></button>
                                <a href="{{ path('post_show', {'slug': post.slug}) }}" class="btn btn-secondary">Show</a>
                                <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                            </div>
                        </td>
                        <td>
                            {{ post.title }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}