{% extends 'layouts/module.html.twig' %}

{% block body %}
    <h2>Manage your posts</h2>
    <hr />
    <a class="btn btn-primary" href="{{ path('backend_post_new') }}"><i class="fa fa-plus" aria-hidden="true"></i> Create a new post</a>
    <br /><br />
    {% if maxPages > 1 %}
        <ul class="pagination">
            <li class="page-item {{ currentPage == 1 ? 'disabled' }}">
                <a class="page-link" href="{{ path('backend_post_list', {'currentPage': currentPage-1 < 1 ? 1 : currentPage-1}) }}">«</a>
            </li>
            {% for i in 1..maxPages %}
                <li class="page-item {{ currentPage == i ? 'active' }}">
                    <a class="page-link" href="{{ path('backend_post_list', {'currentPage': i}) }}">{{ i }}</a>
                </li>
            {% endfor %}
            <li class="page-item {{ currentPage == maxPages ? 'disabled' }}">
                <a class="page-link" href="{{ path('backend_post_list', {'currentPage': currentPage+1 <= maxPages ? currentPage+1 : currentPage}) }}">»</a>
            </li>
        </ul>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th><i class="fa fa-cogs" aria-hidden="true"></i>  Actions</th>
                    <th><i class="fa fa-tag" aria-hidden="true"></i> Title</th>
                    <th><i class="fa fa-globe" aria-hidden="true"></i> Slug</th>
                    <th><i class="fa fa-calendar" aria-hidden="true"></i> Created</th>
                    <th><i class="fa fa-calendar" aria-hidden="true"></i> Updated</th>
                    <th><i class="fa fa-user" aria-hidden="true"></i> User</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    <tr class="{% if post.isHidden() %}table-danger{% endif %}">
                        <td id="post-{{ post.id }}">
                            <div class="btn-group" role="group" aria-label="record actions">
                                <a href="{{ path('backend_post_toggle_hidden_state', {'id': post.id, 'currentPage': currentPage}) }}"
                                   class="btn btn-secondary">
                                    {% if post.isHidden() %}
                                        <i class="fa fa-eye-slash"></i>
                                    {% else %}
                                        <i class="fa fa-eye"></i>
                                    {% endif %}
                                </a>
                                <a href="{{ path('backend_post_edit', {'id': post.id}) }}" class="btn btn-secondary">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a  href="{{ path('backend_post_delete', {'id': post.id, 'currentPage': currentPage}) }}"
                                    onclick="return confirm('Really delete the following post?\n\n{{ post.title }}');"
                                    class="btn btn-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </td>
                        <td>{{ post.title|truncate(24) }}</td>
                        <td>{{ post.slug|truncate(24) }}</td>
                        <td>{{ post.created|date('m-d-Y @ H:i') }}</td>
                        <td>{{ post.lastUpdated|date('m-d-Y @ H:i') }}</td>
                        <td>{{ post.user.username }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}