{% extends 'layouts/module.html.twig' %}

{% block subtitle %} | Create a new post{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bootstrap4-tagsinput/tagsinput.css') }}">
{% endblock %}

{% block body %}
    <a class="btn btn-secondary pull-right" href="{{ path('backend_post_list') }}"><i class="fa fa-arrow-left"></i> back to list</a>
    <h1>Create new post</h1>
    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bootstrap4-tagsinput/tagsinput.js') }}"></script>
    <script src="{{ asset('vendor/tinymce/tinymce.min.js') }}"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            height: 300,
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor textcolor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table contextmenu paste code help wordcount'
            ],
            toolbar: 'insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
            content_css: [
                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                '//www.tinymce.com/css/codepen.min.css']
        });
    </script>
{% endblock %}